<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>

<script type="text/javascript" src="/js/jquery.min.js" ></script>
</head>
<body>
jjj
<button id="click">提交</button>

</body>
<script type="text/javascript">
var query = {
		query:{
			term:{
				_bid:"123445"
			}
		}	
};

$("#click").click(function(){
	$.ajax({
		type:"delete",
		url:"/restUsers/query",
		data:JSON.stringify(query),
		dataType:"application/json",
		contentType:"application/json",
		success:function(data){
			console.info(data);
		}
	});
});
$.ajax({
	type:"get",
	url:"http://localhost:8014/api/service/updates/apply/status",
	//dataType:"application/json",
	async:false,
	//dataType:"jsonp",    //跨域json请求一定是jsonp
	//headers:{"_secret":"5a6a82857ee5ec132009cb19","_orgId":"5a6a82857ee5ec132009cb17","Content-Type":"application/json"},
	success:function(data){
		console.info(data);
	}

	
});


</script>
</html>