<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>修改个人信息</h1>
	<hr></hr>
	<div>
		<form th:action="@{/springboot/user/update}" method="post">
		<input type="hidden" th:field="${user.id}" name="id"/>
			姓名:<input type="text" name="username" th:field="${user.username}" /><br /> 密码:<input type="text"
				name="password" th:field="${user.password}"/><br /> <input type="submit" value="保存" />

		</form>
	</div>
</body>
</html>